//sort and filter css{

.sortfilterLabels {
  color: gray;
  font-weight: bold;
}

.sortfilter {
  padding: 10px 20px;
}

.sortfilterRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sortfilterOptions{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 30px;
}
.sortfilterOpt{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sortfilterDivider {
  margin-bottom: 10px;
}

.sortfilterBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.BtnS {
  outline: none;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  width: 90px;
  color: white;
  background: #20bf6b;
}

.BtnC {
  outline: none;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  width: 90px;
  background: #e9e9e9;
  color: black;
}
.BtnX {
  outline: none;
  border: none;
 
}
// #9C9C9C

.sortfilterInput {
  width: 170px;
}
.sortfilterInput2 {
  width: 150px;
}

//}sort and filter css





.ticket_container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  background-color: white;
  padding: 30px;
  width: 100%;
  // outline: solid blue 3px;

} 

.label {
  color: white;
    padding: 5px;
    border-radius: 7px;
    background-color: #e3e64d;
}

.starDiv {
  display: flex;
  
  padding-right: 5px;
  justify-content: flex-end;
  width: 100%;
}

.commentedCard {
  // width: 370px;
  margin-bottom: 5px;
}
.textCom {
  width: 100%;
  height: auto;
  display: flex;
}

.userComment {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.attach:nth-child(odd) {
  .commentedCard {
    background-color: white;
  }

  .commentedCard .comment_title mat-card-title {
    // color: #971a30;
    color: black;
    font-weight: bold;
  }
}

.showDetails {
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: center;
  // outline: solid green 1px;
}

.commentcolumn {
  width: 100%;
}

.comment_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profileimg {
  border-radius: 50%;
  border: solid 5px;
  margin-right: 15px;
}

.attach:nth-child(even) {
  .commentedCard {
    background-color: hsl(48, 46%, 93%);
  }
  .commentedCard .comment_title mat-card-title {
    // color: #179d84;
    color: black;
    font-weight: bold;
  }
}

.img_profile {
  margin-bottom: 10px;
}
.commentBtn {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  font-weight: bolder;
  color: #ffff;
  background: #03878c;
}

.Btn1{
  visibility: hidden;
}

.Btn {
  outline: none;
  position: absolute;
  top: 0px;
  right: 0px;
}

.Btn2 {
  outline: none;
  border: none;
}

.ticketTop {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            position: relative;
          }

.btnClass{
  width: 50%;
  margin-bottom: 5px;
  margin-top: 10px;
}
.btnsCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.add_btnD {
  width: 100%;
  display: flex;
  padding-top: 1px;
  padding-left: 2px;
  justify-content: center;
  align-items: center;
  height: 30px;
  cursor: pointer;
  background: #03878c;
  // background-color: #B16B6C;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  // max-width: 400px;
  max-width: 30%;
  min-width: 450px;
  height: 100%;
}

.mat-badge-content{
  background : var(--clr-main) ;
  // background-color: #03878c;
  // background-color: #B16B6C;
  color: white;
}

.tabs_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background: var(--clr-main);
  background-color: white;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 10px 10px 0;
  margin-bottom: 20px;
  width: 90%;
  height: auto;
}

.tabs_toggle {
  margin: 0 5px;
  // padding: 7px 25px;
  // background: var(--clr-main);
background-color: white;
  // border-radius: 50px;
  cursor: pointer;
  // transition: 0.5s;
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab_toggle {
  margin: 0 5px;
  padding: 7px 0;
  // background: var(--clr-main);
  background-color: white;
  
  // border-radius: 20px;
  cursor: pointer;
  // transition: 0.5s;
  width: 100%;
  font-weight: 900;
  font-size: 14px;
  color: var(--clr-main);
  height: 100%;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;

  i{
    color: black;
    // color: white;
    margin-right: 3px;
    position: relative;
    top: -5px;
    margin-top: 5px;
  }
}

.tab_toggle:hover {
  // background-color: hsl(182, 96%, 35%);
  border-bottom: solid #03878c 5px;
}

.tab_toggleactive{
  // background-color: #03878c;
  background-color: white;
  margin: 0 7px;
  padding: 7px 0;
  // background: var(--clr-main);
  // border-radius: 20px;
  cursor: pointer;
  // transition: 0.5s;
  width: 100%;
  font-weight: 900;
  font-size: 14px;
  // color: white;
  color: black;
  height: 100%;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: solid #03878c 5px;

  i{
    color: black;
    // color: white;
    margin-right: 3px;
    position: relative;
    top: -5px;
    margin-top: 5px;
    // position: absolute;
    // top: 5px;
  }
  h6{
    color: black;
    // color: white;
  }
}

h6{
  font-weight: 900;
  
  font-size: 14px !important;
  color: black;
  // color: white;
  margin-top: 5px;
}


.tabs_body {
  // background: #fff;
  // box-shadow: 0px 4px 5px rgba(0,0,0,0.1);
  // border-radius: 25px;
  // padding: 30px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  
}



.tabs_text {
  font-size: 14px !important;
  line-height: 1.2;
  color: #484848;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  // height: 100%;
}

.tabs_content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  // transition: 1s;
  position: relative;
  width: 100%;
  // transition: all 5s ease-in-out;
}

.tabs_content::-webkit-scrollbar{
  width: 4px;
}
.tabs_content::-webkit-scrollbar-thumb{
  background: gray;
  border-radius: 10px;
}


.ticket  {
  width: 100%;
  display: flex;
  // justify-content: space-between;
  align-items: flex-start;
  box-shadow: -2px 4px 5px rgba(0,0,0,0.1);
  margin: 5px 0;
  height: 100px;
  padding-bottom: 2px;
  @for $i from 1 through 800 {
      &:nth-child(#{$i}) {
          animation-duration: 1.5s;
        animation-delay: 0.2s * $i;
      }
    }

}

.ticket:hover {
  background-color: hsl(349, 71%, 80%);
  transform: scale(1.05);
}

// .ticket * {
//     outline: solid green 1px;
// }

.tickect3 {
  width: 100%;
  margin: 0px 10px 10px 10px;
  @for $i from 1 through 800 {
    &:nth-child(#{$i}) {
        animation-duration: 1.5s;
      animation-delay: 0.2s * $i;
    }
  }
}
.card {
  width: 100%;
  padding: 20px 10px 0px 10px;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
  @for $i from 1 through 800 {
    &:nth-child(#{$i}) {
        animation-duration: 1.5s;
      animation-delay: 0.2s * $i;
    }
  }
}
.cardY {
  width: 100%;
  padding: 20px 10px 0px 10px;
  border-radius: 10px;
  background-color: lightyellow;
  margin: 0px 10px 10px 10px;
  @for $i from 1 through 800 {
    &:nth-child(#{$i}) {
        animation-duration: 1.5s;
      animation-delay: 0.2s * $i;
    }
  }
}
.cardB {
  width: 100%;
  padding: 20px 10px 0px 10px;
  border-radius: 10px;
  background-color: rgb(231, 236, 252);
  margin: 0px 10px 10px 10px;
  @for $i from 1 through 800 {
    &:nth-child(#{$i}) {
        animation-duration: 1.5s;
      animation-delay: 0.2s * $i;
    }
  }
}
.cardO {
  width: 100%;
  padding: 20px 10px 0px 10px;
  border-radius: 10px;
  background-color: rgb(247, 239, 239);
  margin: 0px 10px 10px 10px;
  @for $i from 1 through 800 {
    &:nth-child(#{$i}) {
        animation-duration: 1.5s;
      animation-delay: 0.2s * $i;
    }
  }
}

.ticket3:hover {
  // border: solid #03878c 2px;
  // background-color: hsl(182, 96%, 95%);
  background-color: #03878c;
  
             
  *{
    color: white;
    .statustag{
      color: white;
      background-color: #03878c ;
    }
  }
}

.statustag{
  color: hsl(182, 100%, 40%);
  padding: 5px;
  border-radius: 8px;
  // background-color: #Bea951;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  position: relative;
  bottom: 10px;
  *{
    font-weight: 900;
  }
}
// @media (max-width:1200px){
//   // .ticket  {
//   //     width: 90%;
//   //     display: flex;
//   //     flex-direction: column;
//   //     // justify-content: space-between;
//   //     align-items: flex-start;
//   //     box-shadow: -2px 4px 5px rgba(0,0,0,0.1);
//   //     margin: 5px 0;
  
//   // }

//   .remarks, .remarkstitle{
//       display: none;
//   }
// }
// @media (max-width: 840px){
//    .ticket  {
//       display: none;
//   }
//   .ticketsm{
//       display: block;
//       width: 100%;
//       height: 200px;
//       // background-color: #E2D9BC;
//       margin: 10px;
//       display: flex;
// flex-direction: column;
//       }
      
      
//       .ticketsm *{
//           margin: 2px;
//           color: black;
//       }

//       .ticketTop {
//           display: flex;
//           justify-content: space-between;
//           flex-direction: row;
//           align-items: center;
//         }

//         .ticketDes1{
//             height: 50px;
//             overflow: hidden;
//             width: 400px;
//         }

//         .idClass, .ticketDes,
//         .ticketPC, .ticketDate,
//         .ticketActive
//         {
//             font-weight: 700;
//         }

//         .ticketPC{
//             margin-top: 2px;
//         }

//         .ticket_header{
//             display: none;
//         }

//         .tabs_name{
//           font-weight: 900;
//           font-size: 14px !important;
//           color: white;
      
//       }

//       .tab_toggle, .tabs_toggle{
//           padding: 5px 5px;
//       }
        
// }

// @media (max-width:425px){
//   .ticketDes1, .ticketDes{
//       height: 50px;
//       overflow: hidden;
//       width: 400px;
//       display: none;
//   }

//   .tab_toggle{
//       // font-weight: normal;
//       font-size: 12px !important;
//       color: white;
//       // line-height: 0.8;
//   }

//   .tabs_head{
//       padding: 2px;
//   }

//   .lastline{
//       display: flex;
//       flex-direction: column;
//   }

//   .tab_toggle, .tabs_toggle{
//       padding: 2px 2px;
//   }
    
// }

// other half

.otherhalf {
  display: flex;
  flex-direction: column;
  align-items: center;
  // max-width: 400px;
  width: 70%;
  height: 100%;
  // outline: solid blue 1px;
  margin-left: 10px;
  border: solid var(--clr-main) 3px;
}

h1{
  // font-size: 48px!important;
  font-weight: bolder;
  // color: var(--clr-main);
  color: black;
}

h2{
  font-size: 36px!important;
  font-weight: bold;
  // color: var(--clr-main);
  color: black;
}

h3{
  font-size: 24px!important;
  // color: var(--clr-main);
  color: black;
  
}
.ticketDets {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
  overflow-y: scroll;
  height: 530px;
}
.ticketDets::-webkit-scrollbar {
  width: 3px;
}
.ticketDets::-webkit-scrollbar-thumb {
  border-radius: 50px;

  background-color: rgb(128, 126, 126);
}
h4{
  font-size: 18px!important;
  // color: var(--clr-main);
  color: black;
}

.details_container{
  width: 90%;
  max-height: 90%;
  margin: 0 5px;
  overflow-y: auto;
  background-color: white;
  
}

.details_container::-webkit-scrollbar{
width: 30px !important;
height: 30px !important;
}

.details_container::-webkit-scrollbar-thumb{
color: #03878c !important;
border-radius: 30px !important;
}

.otherhalf::-webkit-scrollbar{
  width: 30px !important;
  height: 30px !important;
  }
  
  .otherhalf::-webkit-scrollbar-thumb{
  color: #03878c !important;
  border-radius: 30px !important;
  }

.ticket_header{
  width: 100%;
  padding: 15px;
  border-bottom: solid rgba(0,0,0,0.2) 2px;
}
.ticket_details{
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
}
.main_ticket{
  width: 100%;
  padding-right: 15px;
  // border-right: solid rgba(0,0,0,0.2) 2px; 
}

.dept, .dept2{
display: flex;
justify-content: space-between;
margin-top: 5px;
}

.tags1,
.tags2 {
display: flex;
}
.inquiry, .classification,
.priority, .status, .due {
color: hsl(182, 100%, 40%);
padding: 5px;
border-radius: 8px;
// background-color: #Bea951;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
*{
  font-weight: 900;
}
}

.comment_area{
  width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding: 5px 5px 70px;
  background-color: white;
  // padding-left: 15px;
  position: relative;
  
}

.comment_text{
  width: 100%;
  // height: 100px;
}

.comment_btns{
  position: absolute;
  right: 15px;
  bottom: 10px;
  margin-top: 5px;
}

.comment_btns button{
  margin-left: 3px;
  background-color: white;
  color: #03878c;
  // color: #B16B6C;
  // font-size: 50px !important;
  width: 60px;
  height: 60px;
  // padding: 3px;
  border-radius: 50% ;
  outline: none;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.1);
}

.fa-paper-plane, .material-icons{
  font-size: 25px !important;
}
.chImg {
  cursor: pointer;
  // margin-left: 20px;
}
.sfimg {
  width: 28px;
  height: 28px;
}

.text{
  
  resize: none;
  width: 100%;
  height: 150px;
}

.comment_thread{
  padding: 20px 5px;
}

.example-card{
  margin-bottom: 10px;
}

.comment_gen:nth-child(odd){
  .example-card   {
    background-color: white;
    border: solid grey 2px;
    
      }
      
      .example-card .comment_title mat-card-title  {
        // color: #179d84;
        color: black;
        font-weight: bold;
          }
}

.comment_gen:nth-child(even){
  .example-card   {
    background-color: hsl(48, 46%, 93%);
    border: solid hsl(48, 46%, 73%) 2px;
      }
      .example-card .comment_title mat-card-title  {
        // color: #179d84;
        color: black;
        font-weight: bold;
          }
}

.ticket_handle{
  width: 30%;
  padding-left: 10px;
 //  outline: solid blue 1px;
}
// .ticket_handle *{
//   outline: solid blue 1px;
// }

.side_table{
 border: solid 2px;
 border-color: var(--clr-main);
 margin: 10px 0;
}

.table_header{
 width: 100%;
 text-align: center;
 background-color: var(--clr-main);
 color: var(--clr-sec);
}
.table_row{
 display: flex;
 justify-content: space-between;
}

@media(max-width: 1024px) {
  .ticket_container{
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .tabs{
    width: 100%;
    min-width: none;
    max-width: none;
    height: 100%;
    margin-bottom: 20px;
    // outline: solid green 3px;
  }

  .tabs_body {
    // background: #fff;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.1);
    border-radius: 25px;
    // padding: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
  
  }

  .tabs_text {
    font-size: 14px !important;
    line-height: 1.2;
    color: #484848;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .tabs_content {
    height: 100%;
    overflow-x: auto;
    // transition: 1s;
    position: relative;
    width: 100%;
    // transition: all 5s ease-in-out;
  }

  .ticket3 {
    min-width: 300px;
    height: 100%;
    margin-right: 10px;
    @for $i from 1 through 800 {
      &:nth-child(#{$i}) {
          animation-duration: 1.5s;
        animation-delay: 0.2s * $i;
      }
    }
  }

  .otherhalf{
    width: 100%;
    height: 50%;
  }
  .details_container{
    width: 100%;
    max-height: 90%;
    margin: 0 5px;
    overflow-y: auto;
    background-color: white;
    
  }

  .tabs_text::-webkit-scrollbar{
    width: 1px;
    height: 6px;
  }
  .tabs_text::-webkit-scrollbar-thumb{
    background: var(--clr-main);
    border-radius: 30px;
  }

  .tabs_content::-webkit-scrollbar{
    width: 3px;
  }
  .tabs_content::-webkit-scrollbar-thumb{
    background: var(--clr-main);
  }
  .tabs_body::-webkit-scrollbar{
    width: 3px;
  }
  .tabs_body::-webkit-scrollbar-thumb{
    background: var(--clr-main);
  }
} 

@media (max-width:425px){
  .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-width: 400px;
    max-width: 30%;
    min-width: 350px;
    height: 100%;
  }
  h1{
    font-size: 24px!important;
    font-weight: bolder;
    // color: var(--clr-main);
    color: black;
  }
  
  h2{
    font-size: 18px!important;
    font-weight: bold;
    // color: var(--clr-main);
    color: black;
  }
  
  h3{
    font-size: 16px!important;
    // color: var(--clr-main);
    color: black;
    
  }
  
  h4{
    font-size: 14px!important;
    // color: var(--clr-main);
    color: black;
  }

  p{
    font-size: 12px !important;
  }

  .inquiry, .classification,
.priority, .status, .due {
color: white;
padding: 2px;
border-radius: 8px;
background-color: #Bea951;
display: flex;
justify-content: center;
align-items: center;
*{
  font-size: 12px !important;
}

}

.statustag{
  color: white;
  padding: 2px;
  border-radius: 8px;
  background-color: #Bea951;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  position: relative;
  bottom: 10px;
  *{
    font-size: 12px !important;
  }
}
}
.mat-badge-medium .mat-badge-content{
  padding: 0 5px;
  width: auto;
}
.tab-categories{
  margin: 0 5px 10px 5px;
  // height: 44px;
  // overflow-x: auto;
  // overflow-y: hidden;
  // white-space: nowrap;
}
// ::ng-deep .mat-chip-list-wrapper{
//   display: inline-block !important;
// }
// .tab-categories::-webkit-scrollbar{
//   height: 4px !important;
// }
// .tab-categories::-webkit-scrollbar-thumb{
//   background: gray;
//   border-radius: 10px;
// }