<section class="section" [dir]="direction" >

    <div class="bigMain" fxLayout>
      <h3 class="fontY">
        {{ dialog_title  }} 
      </h3>
      <img (click)="onCancel()" class="cancel_Img" src="../../../assets/images/svg/close.png" alt="">
    </div>

    <form class="Main" [dir]="direction" >
        <mat-form-field appearance="outline">
            <mat-label>{{ password }}</mat-label>
            <input
              matInput
              [(ngModel)]="obj.Password"
              name="password"
              type="text"

              placeholder="Type some text"
            />


          </mat-form-field>
    </form>

    <div class="btn-container">
        <button class="BtnC" (click)="onCancel()" mat-button color="warn" type="submit">{{cancel}}</button>
        <button class="BtnS" (click)="onSubmit()" mat-button color="primary" type="submit">{{submit}}</button>
      </div>

</section>