div {
    width: 90%;
    margin: 3em auto;
    text-align: center;
}

p {
    font-size: 1.2em;
}

mat-icon {
    font-size: 2em;
    color: mediumseagreen;
    margin-top: 0.5em;
}

mat-card {
    width: 20em;
    margin: 5em auto;
    padding: 3em;
}