h1 {
    font-size: 2em;
    margin: 1em 0;
}

form {
    width: 90%;
    margin: 0 auto;
}

h1, form {
    text-align: center;
}

mat-form-field {
    width: 100%;
    margin: 0.5 auto;
}

div {
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: 2em;
}

mat-card {
    width: 30em;
    margin: 5em auto;
    padding-top: 2em;
}

@media(min-width: 1024px) {
    mat-card {
      width: 35em;
      padding: 2em;
    }
}