<ng-template #changePasswordAnonForm>
  <h1>Reset Password</h1>
  <form #f="ngForm" (ngSubmit)="changePassword(f)">
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input type="password" matInput (ngModel)="pModel.password" name="password" required minlength="8" maxlength="30" #passwordInput="ngModel">
      <mat-hint>{{passwordInput.value?.length}}</mat-hint>
      <mat-error>Should be at least 8 characters long.</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Confirm new Password</mat-label>
      <input type="password" matInput (ngModel)="confirmpassword" name="confirmpassword" required minlength="8" maxlength="30" #configmrpasswordInput="ngModel">
      <mat-hint>{{configmrpasswordInput.value?.length}}</mat-hint>
      <mat-error *ngIf="passwordInput != configmrpasswordInput">Confirm password not matching with password</mat-error>
    </mat-form-field>
  
    <div>
      <button mat-button type="button" color="warn" [routerLink]="['/']" routerLinkActive="router-link-active">Cancel</button>
      <button mat-button color="primary" [disabled]="f.invalid">Submit</button>
    </div>
  </form>
</ng-template>

<ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen">
  <ng-container *ngTemplateOutlet="changePasswordAnonForm">
  </ng-container>
</ng-template> 

<ng-template #bigScreen>
  <mat-card>
    <ng-container *ngTemplateOutlet="changePasswordAnonForm">
    </ng-container>  
  </mat-card>
</ng-template>