<mat-expansion-panel class="mat-elevation-z0" (click)="$event.stopPropagation()">
  <mat-expansion-panel-header>
      <mat-panel-title>
          Invoice Total Amount
      </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <form [formGroup]="planInvoiceTotalAmountFilter">
        <mat-form-field>
            <mat-label>From</mat-label>
            <input matInput type="number" formControlName="from" (input)="onFromChange()">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>To</mat-label>
            <input matInput type="number" formControlName="to" (input)="onToChange()">
        </mat-form-field>
    </form>
  </ng-template>
</mat-expansion-panel>