<section [dir]="direction" >

  <div class="bigMain">
    <h3 class="fontY">
      {{ dialog_title  }} :
    </h3>
  </div>

  <form class="Main" [dir]="direction"  >
    <div class="container">
      <mat-grid-list
        [cols]="breakpoint"
        rowHeight="105px"
        (window:resize)="onResize($event)"

      >
        <div  *ngFor="let source of light">
          <div [ngSwitch]="source.type">
            <mat-grid-tile *ngSwitchCase="'Date'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="date"
                    placeholder="Date"
                  />


                </mat-form-field>
                <div
                *ngSwitchCase="'ViewOnly'"
                fxLayout
                fxLayoutGap="10px"

                class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>

              </div>

            </mat-grid-tile>
            <mat-grid-tile *ngSwitchCase="'Number'">
              <div [ngSwitch]="source.access">
                <mat-form-field  *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="number"

                    #pwInput="ngModel"
                    placeholder="Number"
                    keyboardType="string"
                  />


                </mat-form-field>

                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile *ngSwitchCase="'Text'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="text"

                    placeholder="Type some text"
                  />


                </mat-form-field>

                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile *ngSwitchCase="'Checkbox'">
              <div [ngSwitch]="source.access">
                <mat-checkbox
                *ngSwitchCase="'Editable'"
                [ngModel]="source.value == '1' ? true : source.value == '0' ? false : null"
                (ngModelChange)="source.value = $event ? '1' : '0'"


                name="{{ source.label }}"
                >{{ source.label }}</mat-checkbox
              >

              <div
                fxLayout
                fxLayoutGap="10px"
                *ngSwitchCase="'ViewOnly'"
                class="radio"
              >
                <h3>{{ source.label }}:</h3>
                <h5>{{ source.value }}</h5>
              </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile *ngSwitchCase="'Time'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <input
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    matInput
                    type="time"
                    placeholder="start date"
                  />
                </mat-form-field>

                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile *ngSwitchCase="'TextArea'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <textarea
                    matInput
                    rows="2"
                    [(ngModel)]="source.value"

                    name="{{ source.label }}"
                    type="text"
                    placeholder="Type some text"
                  ></textarea>


                </mat-form-field>

                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile *ngSwitchCase="'dropdown'">
              <div [ngSwitch]="source.access">
                <div *ngSwitchCase="'Editable'">
                    <mat-form-field  appearance="fill">
                      <mat-label>{{ source.label }}</mat-label>
                      <mat-select
                        [(ngModel)]="+source.value"
                        name="{{ source.label }}"
                      >
                        <mat-option
                          *ngFor="let choice of source.myarray"
                          [value]="choice.id"
                        >
                          {{ choice.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>

                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>


              <div *ngIf="spacezone">
                <mat-grid-tile *ngSwitchCase="'space'">
                  <div [ngSwitch]="source.access">
                    <div *ngSwitchCase="'Editable'" class="space"></div>

                  <div
                    fxLayout
                    fxLayoutGap="10px"
                    *ngSwitchCase="'ViewOnly'"
                    class="radio"
                  >
                    <h3>{{ source.label }}:</h3>
                    <h5>{{ source.value }}</h5>
                  </div>
                  </div>
                </mat-grid-tile>
              </div>

          </div>
        </div>
      </mat-grid-list>
    </div>
    <div class="btn-container">
      <button class="BtnC" (click)="onCancel()" mat-button color="warn" type="submit">{{cancel}}</button>
      <button class="BtnS" (click)="onSubmit()" mat-button color="primary" type="submit">{{submit}}</button>
    </div>
  </form>
</section>

