<app-upload2-files #uploadfileslcomp [result]="myFiles" (onFileDeleteFromList)="onFileDeleteFromList($event)">
</app-upload2-files>

<input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" multiple style="display:none;"
  accept="image/png, image/jpeg">
<section *ngIf="showProgress()">
  <mat-progress-bar mode="determinate" value="progress">
    <span class="upload">
      {{progress}}%
    </span>
  </mat-progress-bar>
  <span class="upload" *ngIf="message">
    {{message}}
  </span>
</section>
<div *ngIf="role !== '4'" class="upload"(click)="file.click()"><i class="fa fa-upload"></i></div>
