<mat-expansion-panel class="mat-elevation-z0" (click)="$event.stopPropagation()">
  <mat-expansion-panel-header>
      <mat-panel-title>
          Dispatch Date
      </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <form [formGroup]="myForm">
      <mat-form-field>
          <mat-label>From</mat-label>
          <input matInput [matDatepicker]="dispatchPlanDatePickerFrom" formControlName="from" (input)="onFromChange()">
          <mat-datepicker-toggle matSuffix [for]="dispatchPlanDatePickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #dispatchPlanDatePickerFrom></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field>
          <mat-label>To</mat-label>
          <input matInput [matDatepicker]="dispatchPlanDatePickerTo" formControlName="to" (input)="onToChange()">
          <mat-datepicker-toggle matSuffix [for]="dispatchPlanDatePickerTo"></mat-datepicker-toggle>
          <mat-datepicker #dispatchPlanDatePickerTo></mat-datepicker>
      </mat-form-field>
  `</form>
  </ng-template>
</mat-expansion-panel>