.warningBox {
  text-align: center;
}

div {
  margin-bottom: 1em;
}

.add_btn {
  background: #03878c;
  outline: none;
  border: none;
  margin: 10px 8px;
  float: right;

  color: white;
}
.cen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
