<section class="section">
 
  
  <form dir="rtl" >
    <div class="container">
      <mat-grid-list
        [cols]="breakpoint"
        rowHeight="100px"
        (window:resize)="onResize($event)"
        
      >
        <div  *ngFor="let source of light">
          <div [ngSwitch]="source.type">
            <mat-grid-tile *ngSwitchCase="'Date'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="date"
                    placeholder="Date"
                  />


                </mat-form-field>
                <div
                *ngSwitchCase="'ViewOnly'"
                fxLayout
                fxLayoutGap="10px"

                class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>

              </div>

            </mat-grid-tile>
            <mat-grid-tile *ngSwitchCase="'Number'">
              <div [ngSwitch]="source.access">
                <mat-form-field  *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="number"
                   
                    #pwInput="ngModel"
                    placeholder="Number"
                    keyboardType="string"
                  />
  
                  <!-- <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint> -->
                </mat-form-field>
                <mat-form-field  *ngSwitchCase="'NoAccess'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="number"
                    
                    placeholder="Number"
                    keyboardType="string"
                  />
  
                  <!-- <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint> -->
                </mat-form-field>
                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile *ngSwitchCase="'Text'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="text"
                    minlength="{{ source.min }}"
                    maxlength="{{ source.max }}}"
                    #pwInput="ngModel"
                    placeholder="Type some text"
                  />
  
                  <mat-hint align="end"
                    >{{ pwInput.value?.length }} / {{ source.min }}</mat-hint
                  >
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'NoAccess'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="text"
                    minlength="{{ source.min }}"
                    maxlength="{{ source.max }}}"
                    #pwInput="ngModel"
                    placeholder="Type some text"
                  />
  
                  <mat-hint align="end"
                    >{{ pwInput.value?.length }} / {{ source.min }}</mat-hint
                  >
                </mat-form-field>
                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>

            <!-- <mat-grid-tile *ngSwitchCase="'Checkbox'">
              <div [ngSwitch]="source.access">
                <mat-checkbox
                *ngSwitchCase="'Editable'"
                [ngModel]="source.value == '1' ? true : source.value == '0' ? false : null"
                (ngModelChange)="source.value = $event ? '1' : '0'"
                
              
                name="{{ source.label }}"
                >{{ source.label }}</mat-checkbox
              >
              <mat-checkbox
                *ngSwitchCase="'NoAccess'"
                [ngModel]="source.value == '1' ? true : source.value == '0' ? false : null"
                (ngModelChange)="source.value = $event ? '1' : '0'"
                
                name="{{ source.label }}"
                >{{ source.label }}</mat-checkbox
              >
              <div
                fxLayout
                fxLayoutGap="10px"
                *ngSwitchCase="'ViewOnly'"
                class="radio"
              >
                <h3>{{ source.label }}:</h3>
                <h5>{{ source.value }}</h5>
              </div>
              </div>
            </mat-grid-tile> -->
            <!-- <mat-grid-tile *ngSwitchCase="'Time'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <input
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    matInput
                    type="time"
                    placeholder="start date"
                  />
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'NoAccess'" appearance="outline">
                  <input
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    matInput
                    type="time"
                    placeholder="start date"
                  />
                </mat-form-field>
                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile *ngSwitchCase="'TextArea'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    class="textArea"
                    name="{{ source.label }}"
                    type="text"
                    placeholder="Type some text"
                  />
  
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'NoAccess'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    class="textArea"
                    name="{{ source.label }}"
                    type="text"
                    placeholder="Type some text"
                  />
  
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile> -->
            <mat-grid-tile *ngSwitchCase="'dropdown'">
              <div [ngSwitch]="source.access">
                <div *ngSwitchCase="'Editable'">
                  <div *ngIf="source.tableColumnId == 28">
                    <div fxLayout="column">
                      <mat-checkbox [(ngModel)]="checkParentAccountId" (change)="onParent()" name="parent">is sub-account</mat-checkbox>
                    <mat-form-field *ngIf="checkParentAccountId"  appearance="fill">
                      <mat-label>{{ source.label }}</mat-label>
                      <mat-select
                        [(ngModel)]="+source.value"
                        name="{{ source.label }}"
                      >
                        <mat-option
                          *ngFor="let choice of source.myarray"
                          [value]="choice.id"
                        >
                          {{ choice.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    </div>
                  </div>
                  <div *ngIf="source.tableColumnId != 28">
                    <mat-form-field  appearance="fill">
                      <mat-label>{{ source.label }}</mat-label>
                      <mat-select
                        [(ngModel)]="+source.value"
                        name="{{ source.label }}"
                      >
                        <mat-option
                          *ngFor="let choice of source.myarray"
                          [value]="choice.id"
                        >
                          {{ choice.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    
                  </div>
                </div>

                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>

            
              <div *ngIf="spacezone">
                <mat-grid-tile *ngSwitchCase="'space'">
                  <div [ngSwitch]="source.access">
                    <div *ngSwitchCase="'Editable'" class="space"></div>
                  <div
                    fxLayout
                    fxLayoutGap="10px"
                    *ngSwitchCase="'ViewOnly'"
                    class="radio"
                  >
                    <h3>{{ source.label }}:</h3>
                    <h5>{{ source.value }}</h5>
                  </div>
                  </div>
                </mat-grid-tile>
              </div>
            
          </div>
        </div>
      </mat-grid-list>
    </div>

    <div class="btn-container">
      <button mat-raised-button color="primary" (click)="addChild1()" type="submit">Add</button>
    </div>
    <div fxLayout="column" fxLayoutGap="10px" class="cardContainer">
      <mat-card fxLayout="column" class="card" *ngFor="let sourceChild1 of child1Data;  let i = index" [attr.data-index]="i">
        <mat-grid-list
        [cols]="breakpoint"
        rowHeight="100px"
        (window:resize)="onResize($event)"
        
      >
        <div  *ngFor="let source of sourceChild1">
          <div [ngSwitch]="source.type">
            <mat-grid-tile *ngSwitchCase="'Date'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="date"
                    placeholder="Date"
                  />


                </mat-form-field>
                <div
                *ngSwitchCase="'ViewOnly'"
                fxLayout
                fxLayoutGap="10px"

                class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>

              </div>

            </mat-grid-tile>
            <mat-grid-tile *ngSwitchCase="'Number'">
              <div [ngSwitch]="source.access">
                <mat-form-field  *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="number"
                   
                    #pwInput="ngModel"
                    placeholder="Number"
                    keyboardType="string"
                  />
  
                  <!-- <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint> -->
                </mat-form-field>
                <mat-form-field  *ngSwitchCase="'NoAccess'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="number"
                    
                    placeholder="Number"
                    keyboardType="string"
                  />
  
                  <!-- <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint> -->
                </mat-form-field>
                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile *ngSwitchCase="'Text'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    [ngModelOptions]="{standalone: true}"
                    type="text"
                    minlength="{{ source.min }}"
                    maxlength="{{ source.max }}}"
                    #pwInput="ngModel"
                    placeholder="Type some text"
                  />
  
                  
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'NoAccess'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="text"
                    minlength="{{ source.min }}"
                    maxlength="{{ source.max }}}"
                    #pwInput="ngModel"
                    placeholder="Type some text"
                  />
  
                  
                </mat-form-field>
                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>

            <!-- <mat-grid-tile *ngSwitchCase="'Checkbox'">
              <div [ngSwitch]="source.access">
                <mat-checkbox
                *ngSwitchCase="'Editable'"
                [ngModel]="source.value == '1' ? true : source.value == '0' ? false : null"
                (ngModelChange)="source.value = $event ? '1' : '0'"
                
              
                name="{{ source.label }}"
                >{{ source.label }}</mat-checkbox
              >
              <mat-checkbox
                *ngSwitchCase="'NoAccess'"
                [ngModel]="source.value == '1' ? true : source.value == '0' ? false : null"
                (ngModelChange)="source.value = $event ? '1' : '0'"
                
                name="{{ source.label }}"
                >{{ source.label }}</mat-checkbox
              >
              <div
                fxLayout
                fxLayoutGap="10px"
                *ngSwitchCase="'ViewOnly'"
                class="radio"
              >
                <h3>{{ source.label }}:</h3>
                <h5>{{ source.value }}</h5>
              </div>
              </div>
            </mat-grid-tile> -->
            <!-- <mat-grid-tile *ngSwitchCase="'Time'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <input
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    matInput
                    type="time"
                    placeholder="start date"
                  />
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'NoAccess'" appearance="outline">
                  <input
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    matInput
                    type="time"
                    placeholder="start date"
                  />
                </mat-form-field>
                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile *ngSwitchCase="'TextArea'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    class="textArea"
                    name="{{ source.label }}"
                    type="text"
                    placeholder="Type some text"
                  />
  
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'NoAccess'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    class="textArea"
                    name="{{ source.label }}"
                    type="text"
                    placeholder="Type some text"
                  />
  
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile> -->
            <mat-grid-tile *ngSwitchCase="'dropdown'">
              <div [ngSwitch]="source.access">
                <div *ngSwitchCase="'Editable'">
                  <div *ngIf="source.tableColumnId == 28">
                    <div fxLayout="column">
                      <mat-checkbox [(ngModel)]="checkParentAccountId" (change)="onParent()" name="parent">is sub-account</mat-checkbox>
                    <mat-form-field *ngIf="checkParentAccountId"  appearance="fill">
                      <mat-label>{{ source.label }}</mat-label>
                      <mat-select
                        [(ngModel)]="+source.value"
                        name="{{ source.label }}"
                        
                      >
                        <mat-option
                          *ngFor="let choice of source.myarray"
                          
                          [value]="choice.id"
                        >
                          {{ choice.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    </div>
                  </div>
                  <div *ngIf="source.tableColumnId != 28">
                    <mat-form-field  appearance="fill">
                      <mat-label>{{ source.label }}</mat-label>
                      <mat-select
                        [(ngModel)]="+source.value"
                        (selectionChange)="onChange1($event.value, i)"
                        [ngModelOptions]="{standalone: true}"
                        
                      >
                        <mat-option
                          *ngFor="let choice of source.myarray"
                          [value]="choice.id"
                          
                        >
                          {{ choice.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    
                  </div>
                </div>

                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>

            
              <div *ngIf="spacezone">
                <mat-grid-tile *ngSwitchCase="'space'">
                  <div [ngSwitch]="source.access">
                    <div *ngSwitchCase="'Editable'" class="space"></div>
                  <div
                    fxLayout
                    fxLayoutGap="10px"
                    *ngSwitchCase="'ViewOnly'"
                    class="radio"
                  >
                    <h3>{{ source.label }}:</h3>
                    <h5>{{ source.value }}</h5>
                  </div>
                  </div>
                </mat-grid-tile>
              </div>
            
          </div>
        </div>
      </mat-grid-list>
      <button mat-icon-button type="button" (click)="deleteFun1(i)">
        <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true" color="warn">
          delete
        </mat-icon>
      </button>
      </mat-card>
    </div>
    <div class="btn-container">
      <button mat-raised-button color="primary" (click)="addChild2()" type="submit">Add</button>
    </div>
    <div fxLayout="column" fxLayoutGap="10px" class="cardContainer">
      <mat-card fxLayout="column" class="card" *ngFor="let sourceChild2 of child2Data;  let i = index" [attr.data-index]="i">
        <mat-grid-list
        [cols]="breakpoint"
        rowHeight="100px"
        (window:resize)="onResize($event)"
        
      >
        <div  *ngFor="let source of sourceChild2">
          <div [ngSwitch]="source.type">
            <mat-grid-tile *ngSwitchCase="'Date'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="date"
                    placeholder="Date"
                  />


                </mat-form-field>
                <div
                *ngSwitchCase="'ViewOnly'"
                fxLayout
                fxLayoutGap="10px"

                class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>

              </div>

            </mat-grid-tile>
            <mat-grid-tile *ngSwitchCase="'Number'">
              <div [ngSwitch]="source.access">
                <mat-form-field  *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="number"
                   
                    #pwInput="ngModel"
                    placeholder="Number"
                    keyboardType="string"
                  />
  
                  <!-- <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint> -->
                </mat-form-field>
                <mat-form-field  *ngSwitchCase="'NoAccess'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="number"
                    
                    placeholder="Number"
                    keyboardType="string"
                  />
  
                  <!-- <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint> -->
                </mat-form-field>
                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile *ngSwitchCase="'Text'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="text"
                    minlength="{{ source.min }}"
                    maxlength="{{ source.max }}}"
                    #pwInput="ngModel"
                    placeholder="Type some text"
                  />
  
                  
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'NoAccess'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="text"
                    minlength="{{ source.min }}"
                    maxlength="{{ source.max }}}"
                    #pwInput="ngModel"
                    placeholder="Type some text"
                  />
  
                  
                </mat-form-field>
                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>

            <!-- <mat-grid-tile *ngSwitchCase="'Checkbox'">
              <div [ngSwitch]="source.access">
                <mat-checkbox
                *ngSwitchCase="'Editable'"
                [ngModel]="source.value == '1' ? true : source.value == '0' ? false : null"
                (ngModelChange)="source.value = $event ? '1' : '0'"
                
              
                name="{{ source.label }}"
                >{{ source.label }}</mat-checkbox
              >
              <mat-checkbox
                *ngSwitchCase="'NoAccess'"
                [ngModel]="source.value == '1' ? true : source.value == '0' ? false : null"
                (ngModelChange)="source.value = $event ? '1' : '0'"
                
                name="{{ source.label }}"
                >{{ source.label }}</mat-checkbox
              >
              <div
                fxLayout
                fxLayoutGap="10px"
                *ngSwitchCase="'ViewOnly'"
                class="radio"
              >
                <h3>{{ source.label }}:</h3>
                <h5>{{ source.value }}</h5>
              </div>
              </div>
            </mat-grid-tile> -->
            <!-- <mat-grid-tile *ngSwitchCase="'Time'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <input
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    matInput
                    type="time"
                    placeholder="start date"
                  />
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'NoAccess'" appearance="outline">
                  <input
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    matInput
                    type="time"
                    placeholder="start date"
                  />
                </mat-form-field>
                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile *ngSwitchCase="'TextArea'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    class="textArea"
                    name="{{ source.label }}"
                    type="text"
                    placeholder="Type some text"
                  />
  
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
                <mat-form-field *ngSwitchCase="'NoAccess'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    class="textArea"
                    name="{{ source.label }}"
                    type="text"
                    placeholder="Type some text"
                  />
  
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile> -->
            <mat-grid-tile *ngSwitchCase="'dropdown'">
              <div [ngSwitch]="source.access">
                <div *ngSwitchCase="'Editable'">
                  <div *ngIf="source.tableColumnId == 28">
                    <div fxLayout="column">
                      <mat-checkbox [(ngModel)]="checkParentAccountId" (change)="onParent()" name="parent">is sub-account</mat-checkbox>
                    <mat-form-field *ngIf="checkParentAccountId"  appearance="fill">
                      <mat-label>{{ source.label }}</mat-label>
                      <mat-select
                        [(ngModel)]="+source.value"
                        name="{{ source.label }}"
                      >
                        <mat-option
                          *ngFor="let choice of source.myarray"
                          [value]="choice.id"
                        >
                          {{ choice.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    </div>
                  </div>
                  <div *ngIf="source.tableColumnId != 28">
                    <mat-form-field  appearance="fill">
                      <mat-label>{{ source.label }}</mat-label>
                      <mat-select
                        [(ngModel)]="+source.value"
                        (selectionChange)="onChange2($event.value)"
                        name="{{ source.label }}"
                      >
                        <mat-option
                          *ngFor="let choice of source.myarray"
                          [value]="choice.id"
                        >
                          {{ choice.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    
                  </div>
                </div>

                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>

            
              <div *ngIf="spacezone">
                <mat-grid-tile *ngSwitchCase="'space'">
                  <div [ngSwitch]="source.access">
                    <div *ngSwitchCase="'Editable'" class="space"></div>
                  <div
                    fxLayout
                    fxLayoutGap="10px"
                    *ngSwitchCase="'ViewOnly'"
                    class="radio"
                  >
                    <h3>{{ source.label }}:</h3>
                    <h5>{{ source.value }}</h5>
                  </div>
                  </div>
                </mat-grid-tile>
              </div>
            
          </div>
        </div>
      </mat-grid-list>
      <button mat-icon-button type="button" (click)="deleteFun2(i)">
        <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true" color="warn">
          delete
        </mat-icon>
      </button>
      </mat-card>
    </div>
    <div class="btn-container">
      <button mat-raised-button color="primary" (click)="onSubmit()" type="submit">submit</button>
    </div>
  </form>
</section>
