<mat-drawer-container autosize  [dir]="direction" (window:resize)="onResize($event)"  class="example-container">
  <!-- <mat-drawer   #drawer class="example-sidenav" mode="side" [opened]="break"> -->
  <mat-drawer   #drawer class="example-sidenav" mode="side" [(opened)]="break"
  mwlResizable
  
              [enableGhostResize]="true"
              [ngStyle]="resizeStyle"
              [validateResize]="resizeValidate"
              (resizeEnd)="onResizeEnd($event)"
              >

    <div fxLayout class="logo_container">
      
      <div  class="user" (click)="onClickHome()" fxLayout="column" fxLayoutGap="8px">
        <img  class="user_img" src="../../../assets/images/svg/userreal.png"  alt="">
        <div class="nameBox">
          <p class="nameFont">{{userName}} <span *ngIf="userName == 'Milesh'">Shah</span></p>
        <p class="nameFont2">{{userEmail}}</p>
        </div>
        
        
      </div>
      
      <div  fxFlex fxLayout fxLayoutAlign="flex-start">
        <button class="toggle_btn3" type="button"  mat-icon-button (click)="drawer.toggle(); onToggle()">

          <mat-icon *ngIf="!checkEng()">chevron_left</mat-icon>
          <mat-icon *ngIf="checkEng()">chevron_right</mat-icon>
          <!-- <mat-icon>fast_rewind</mat-icon> -->
        </button>
      </div>
    </div>

    <hr>

    <div class="menu_item">
      <ul class="side_list" id="myDIV">
        <li (click)="onClickListItem('H')" fxHide class="side_list_item active"><mat-icon>home</mat-icon><div class="title"> {{home}}</div></li>
        
        <li (click)="onClickListItem('BP')" fxHide class="side_list_item"><mat-icon>person</mat-icon><div class="title"> {{businessP}}</div></li>
        
        <mat-accordion >
          <mat-expansion-panel *ngIf="role === '2'" (opened)="openPanels(1)" [expanded]="openPanel1" class="mat-elevation-z0" hideToggle appCustomMatExpansionToggle>
            <mat-expansion-panel-header [@.disabled]="true">
              <mat-panel-title>
                <mat-icon>account_box</mat-icon> <div class="exTitle">{{subSystem}}</div>
              </mat-panel-title>
              <div><mat-icon class="indicator">chevron_right</mat-icon></div>
            </mat-expansion-panel-header>
            <li *ngIf="role === '2'" routerLink="UnCustomer" routerLinkActive="is-active"  class="side_list_item"><i class="fa fa-users"></i><div class="title"> {{customers}}</div></li>
        <li *ngIf="role === '2'" routerLink="Policy" routerLinkActive="is-active"  class="side_list_item"><i class="fa fa-landmark"></i><div class="title"> {{policies}}</div></li>
        <li *ngIf="role === '2'" routerLink="Endorsement" routerLinkActive="is-active"  class="side_list_item"><i class="fa fa-check"></i><div class="title"> {{endorsements}}</div></li>
          </mat-expansion-panel>
       
        
        
          <mat-expansion-panel *ngIf="role === '2'" (opened)="openPanels(2)" [expanded]="openPanel2" class="mat-elevation-z0" hideToggle appCustomMatExpansionToggle>
            <mat-expansion-panel-header [@.disabled]="true">
              <mat-panel-title>
                <mat-icon>person_pin</mat-icon> <div class="exTitle">{{userManagement}}</div>
              
              </mat-panel-title>
              <div><mat-icon class="indicator">chevron_right</mat-icon></div>
            </mat-expansion-panel-header>
 
        <li *ngIf="role === '2'" routerLink="Users"  routerLinkActive="is-active"  class="side_list_item"><i class="fa fa-user"></i><div class="title"> {{users}}</div></li>
        
          </mat-expansion-panel>
        
      
       
          <mat-expansion-panel *ngIf="role === '2' || role === '3' || role === '4' || role === '5' || role === '6' || admin === '203' || admin === '26' || admin === '206' || admin === '148' || admin === '147' || admin === '209' " (opened)="openPanels(3)" [expanded]="openPanel3" class="mat-elevation-z0" hideToggle appCustomMatExpansionToggle>
            <mat-expansion-panel-header [@.disabled]="true">
              <mat-panel-title>
                <mat-icon>person_outline</mat-icon> <div class="exTitle">{{customerManagement}}</div>
              
              </mat-panel-title>
              <div><mat-icon class="indicator">chevron_right</mat-icon></div>
            </mat-expansion-panel-header>
 
        <li *ngIf="role === '2'" routerLink="ProblemCat"  routerLinkActive="is-active"  class="side_list_item"><i class="fa fa-cubes"></i><div class="title"> {{catagotries}}</div></li>
        <li *ngIf="role === '2'" routerLink="ProbSub"  routerLinkActive="is-active"  class="side_list_item"><i class="fa fa-user-tie"></i><div class="title"> {{supervisors}}</div></li>
        <li *ngIf="role === '2'" routerLink="ProbTech"  routerLinkActive="is-active"  class="side_list_item"><i class="fa fa-male"></i><div class="title"> {{technicians}}</div></li>
        <li *ngIf="role === '2'" routerLink="UnDepartment"  routerLinkActive="is-active"  class="side_list_item"><i class="fa fa-door-open"></i><div class="title"> {{departments}}</div></li>
        <li *ngIf="role === '2'" routerLink="Agent"  routerLinkActive="is-active"  class="side_list_item"><i class="fa fa-user-circle"></i><div class="title"> {{Agent}}</div></li>
        <li *ngIf="role === '2' || role === '3' || role === '4' || role === '5' || role === '6' " routerLink="Ticket"  routerLinkActive="is-active"  class="side_list_item"><i class="fa fa-ticket"></i><div class="title"> {{tickets}}</div></li>
        <li *ngIf="role === '2'" routerLink="Escalation"  routerLinkActive="is-active"  class="side_list_item"><i class="fa fa-ticket"></i><div class="title"> {{escalation}}</div></li>
        <li *ngIf="role === '2'" routerLink="EscalationExe"  routerLinkActive="is-active"  class="side_list_item"><i class="fa fa-ticket"></i><div class="title"> {{escalationExe}}</div></li>
        <li *ngIf="admin === '203' || admin === '26' || admin === '206' || admin === '148' || admin === '147' || admin === '209' " routerLink="adminTickets"  routerLinkActive="is-active"  class="side_list_item"><i class="fa fa-ticket"></i><div class="title"> {{adminTickets}}</div></li>
        <li *ngIf="role === '2'" routerLink="EscalationExe"  routerLinkActive="is-active"  class="side_list_item"><i class="fa fa-ticket"></i><div class="title"> {{escalationExe}}</div></li>
          </mat-expansion-panel>
        
        <!-- <mat-divider ></mat-divider> -->
        
          <mat-expansion-panel (opened)="openPanels(4)" [expanded]="openPanel4" class="mat-elevation-z0" hideToggle appCustomMatExpansionToggle>
            <mat-expansion-panel-header [@.disabled]="true">
              <mat-panel-title>
                <mat-icon>local_printshop</mat-icon> <div class="exTitle">{{reports}}</div>
              
              </mat-panel-title>
              <div><mat-icon class="indicator">chevron_right</mat-icon></div>
            </mat-expansion-panel-header>
 
        <li  routerLink="Report"  routerLinkActive="is-active"  class="side_list_item"><i class="fa fa-file"></i><div class="title"> {{report}}</div></li>
        <li  routerLink="Dashboard"  routerLinkActive="is-active"  class="side_list_item"><i class="fa fa-chart-line"></i><div class="title"> {{dashboard}}</div></li>
       
          </mat-expansion-panel>
        
        <!-- <mat-divider ></mat-divider> -->
     
          <mat-expansion-panel *ngIf="role === '2'" (opened)="openPanels(5)" [expanded]="openPanel5" class="mat-elevation-z0" hideToggle appCustomMatExpansionToggle>
            <mat-expansion-panel-header [@.disabled]="true">
              <mat-panel-title>
                <mat-icon>beenhere</mat-icon> <div class="exTitle">{{crm}}</div>
              
              </mat-panel-title>
              <div><mat-icon class="indicator">chevron_right</mat-icon></div>
            </mat-expansion-panel-header>
 
        <li routerLink="Customer"  routerLinkActive="is-active"  class="side_list_item"><mat-icon>person_outline</mat-icon><div class="title"> {{customer}}</div></li>
       
          </mat-expansion-panel>
        </mat-accordion>
        <!-- <div *ngIf="role === '2'" class="main_title">
          <span class="fon">{{management}}</span>
        </div>
        
    
        <li *ngIf="role === '2'" routerLink="customer" routerLinkActive="is-active"  class="side_list_item"><mat-icon>person_outline</mat-icon><div class="title"> {{customer}}</div></li>
        <li *ngIf="role === '2'" routerLink="lead" routerLinkActive="is-active"  class="side_list_item"><mat-icon>account_box</mat-icon><div class="title"> {{lead}}</div></li>
        <li *ngIf="role === '2' || role === '12'" routerLink="lead" routerLinkActive="is-active"  class="side_list_item"><mat-icon>account_box</mat-icon><div class="title"> {{leadcre}}</div></li>
        <li *ngIf="role === '2' || role === '13'" routerLink="lead" routerLinkActive="is-active"  class="side_list_item"><mat-icon>account_box</mat-icon><div class="title"> {{leadqua}}</div></li>
        <li *ngIf="role === '2' || role === '14'" routerLink="lead" routerLinkActive="is-active"  class="side_list_item"><mat-icon>account_box</mat-icon><div class="title"> {{leaddis}}</div></li>
        <li *ngIf="role === '2' || role === '15'" routerLink="lead" routerLinkActive="is-active"  class="side_list_item"><mat-icon>account_box</mat-icon><div class="title"> {{leadass}}</div></li>
        <li *ngIf="role === '2' || role === '16'" routerLink="lead" routerLinkActive="is-active"  class="side_list_item"><mat-icon>account_box</mat-icon><div class="title"> {{leadfollow}}</div></li>
        -->
      </ul>
    </div>


    <!-- <div class="lang_container" fxLayoutGap="10px">
      <h3 class="lang">{{change}}</h3>
      <button class="toggle_btn2" mat-icon-button [matMenuTriggerFor]="menu2"><mat-icon>language</mat-icon></button>
<mat-menu #menu2="matMenu">
  <button  class="toggle_btn" (click)="onChangeLanguage()" mat-menu-item>{{lang}}</button>
  
</mat-menu>
      
    </div> -->

    <div class="markon_logo">
      <img src="../../../assets/images/svg/blackun.jpg" (click)="onClickHome()" height="50px"  alt="">
      
    </div>

    <!-- <ul class="side_list">
      <li class="side_list_item"><a class="side_list_item_link" href="">Home</a></li>
      <li class="side_list_item"><a class="side_list_item_link" href="">Bank</a></li>
      <li class="side_list_item"><a class="side_list_item_link" href="">Forex</a></li>
      <li class="side_list_item"><a class="side_list_item_link" href="">Journal</a></li>
    </ul> -->
  </mat-drawer>

    <mat-drawer-content>

      <mat-toolbar >
        <div fxLayout fxLayoutGap.xs="10px" class="nav">
          <div *ngIf="!break" fxFlex fxLayout fxLayoutAlign="flex-start">
            <button class="toggle_btn" type="button"  mat-icon-button (click)="drawer.toggle(); onToggle()">
              <i class="fas fa-bars"></i>
            </button>
          </div>

          <div class="middle" fxLayout  fxLayoutGap="20px">
            <!-- <div class="search_container" >
              <input type="text" matInput class="search">
              <mat-icon class="search_icon" aria-label="Example home icon">search</mat-icon>
            </div> -->

            <!-- <button  fxHide.xs mat-icon-button class="add_btn" >
              <mat-icon >add</mat-icon>
            </button> -->

          </div>

         <div  fxFlex fxLayout fxLayoutAlign="flex-end">
          <div fxLayout fxLayoutGap="10px">
          <button (click)="onNotification()"  class="toggle_btn3"  [matMenuTriggerFor]="menuN"  mat-icon-button  aria-label="Example icon-button with heart icon">
            <i class="fas fa-bell">
              <div *ngIf="!hideNotification" class="notDot"></div>
            </i>
          </button>
        
          <mat-menu #menuN="matMenu" xPosition="after">
            <div class="notList" >
              <div *ngFor="let not of newNotification">
                <div fxLayout="column" class="not">
                  <div fxLayout class="notRow">
                    <h3 class="notTitle">{{not.notTitle}}</h3>
                    <h5 class="notDate">{{not.notTime | date}}</h5>
                  </div>
                    <div fxLayout class="notRow">
                      <h3 class="notMessage">{{not.notMessage}}</h3>
                    <h5 class="notDate">{{not.notTime | date:'hh:mm a'}}</h5>
                    </div>
                  <mat-divider></mat-divider>
                </div>
              </div>
              
            </div>
            
            
          </mat-menu>
          <button [matMenuTriggerFor]="menu3" mat-icon-button id="sett" class="toggle_btn" aria-label="Example icon-button with heart icon">
            <mat-icon class="settings">settings</mat-icon>
          </button>
          <mat-menu #menu3="matMenu">
            <button class="icon" (click)="onChangeLanguage()" mat-menu-item>
              <i class="fas fa-globe"></i>
              <span class="logout">{{lang}}</span>
            </button>
            <!-- <button class="icon" (click)="onClickListItem('BP')" mat-menu-item>
              <i class="fas fa-user"></i>
              <span class="logout">{{profile}}</span>
            </button> -->
            <button class="icon" (click)="onChangePassword()" mat-menu-item>
              <a class="icon-insde">
                <i class="fas fa-key"></i>
                {{changePassword}}
                </a>
            </button>
            <button class="icon" (click)="onSignOut()" mat-menu-item>
              <i class="fas fa-sign-out-alt"></i>
              <span class="logout"> {{logout}}</span>
            </button>
            
            
            <!-- <ul >
              <li class="side_list_item2" (click)="onChangeLanguage()" mat-menu-item><mat-icon class="menuIcon">language</mat-icon><div class="title2"> {{lang}}</div></li>
              <li (click)="onSignOut()" class="side_list_item2" mat-menu-item><mat-icon class="menuIcon">keyboard_return</mat-icon><div class="title2"> {{logout}}</div></li>
              
            </ul> -->
            
          </mat-menu>
        </div>
          
          <!-- <button class="toggle_btn" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>perm_identity</mat-icon></button>
<mat-menu #menu="matMenu">
  <button (click)="onSignOut()" class="toggle_btn" mat-menu-item>{{logout}}</button>
  
</mat-menu> -->
          <!-- <button mat-icon-button class="toggle_btn" aria-label="Example icon-button with share icon">
           <mat-icon>perm_identity</mat-icon> -->
           <!-- <mat-icon>person_outline</mat-icon> -->

         <!-- </button> -->
         </div>
        </div>
      </mat-toolbar>

      <div fxLayout class="actions_box_container">
        <!-- <div *ngIf="!break" (mouseover)="showButton = true" (mouseleave)="showButton = false" class="hoverableSide">
          <mat-card class="example-card" *ngIf = "showButton"> -->
    <!-- <mat-card-title>hello title</mat-card-title> -->
    <!-- <div class="sideCard"><div class="menu_item">
      <ul class="side_list" id="myDIV">
        <li (click)="onClickListItem('H')" fxHide class="side_list_item active"><mat-icon>home</mat-icon><div class="title"> {{home}}</div></li>
        <li (click)="onClickListItem('BP')" fxHide class="side_list_item"><mat-icon>person</mat-icon><div class="title"> {{businessP}}</div></li>
        <mat-divider></mat-divider>
        <div *ngIf="role === '3' || role === '2'" class="main_title">
          <span class="fon">{{accounting}}</span>
        </div>
        <mat-divider *ngIf="role === '3' || role === '2'"></mat-divider>
        <li *ngIf="role === '3' || role === '2'" (click)="onClickListItem('J')" class="side_list_item"><mat-icon>library_books</mat-icon><div class="title"> {{journal}}</div></li> -->
        <!-- <li (click)="onClickListItem('JD')" class="side_list_item"><mat-icon>library_books</mat-icon><div class="title"> Journal Dynamic</div></li> -->
        <!-- <li *ngIf="role === '3' || role === '2'" (click)="onClickListItem('E')" class="side_list_item"><mat-icon> local_atm</mat-icon><div class="title"> {{expense}}</div></li> -->
        <!-- <li (click)="onClickListItem('PFC')" class="side_list_item"><i class="fas fa-money-bill-wave"></i><div class="title">{{paymentFromCompany}}</div></li> -->
        <!-- <li (click)="onClickListItem('ED')" class="side_list_item"><mat-icon> local_atm</mat-icon><div class="title">Expense Dynamic</div></li> -->
        <!-- <mat-divider *ngIf="role === '4' || role === '2'"></mat-divider>
        <div *ngIf="role === '4' || role === '2'" class="main_title">
          <h3 class="fon">{{config}}</h3>
        </div>
        <mat-divider *ngIf="role === '4' || role === '2'"></mat-divider>
        <li *ngIf="role === '4' || role === '2'" (click)="onClickListItem('T')" class="side_list_item"><mat-icon>receipt</mat-icon><div class="title"> {{tax}}</div></li>
        <li *ngIf="role === '4' || role === '2'" (click)="onClickListItem('F')" class="side_list_item"><mat-icon> attach_money</mat-icon><div class="title"> {{forex}}</div></li>
        <li *ngIf="role === '4' || role === '2'" (click)="onClickListItem('A')" class="side_list_item"><mat-icon>account_box</mat-icon><div class="title"> {{account}}</div></li>
        <li *ngIf="role === '4' || role === '2'" (click)="onClickListItem('AC')" class="side_list_item"><mat-icon> vpn_key</mat-icon><div class="title">{{accountConfiguration}}</div></li>
        <li *ngIf="role === '4' || role === '2'" (click)="onClickListItem('B')" class="side_list_item"><mat-icon>account_balance</mat-icon><div class="title">{{bank}}</div></li>
        <li *ngIf="role === '4' || role === '2'" (click)="onClickListItem('BB')" class="side_list_item"><mat-icon>account_balance</mat-icon><div class="title">{{bankBranch}}</div></li>
        <li *ngIf="role === '4' || role === '2'" (click)="onClickListItem('BA')" class="side_list_item"><mat-icon> account_balance</mat-icon><div class="title">{{bankAccount}}</div></li>
        <mat-divider *ngIf="role === '5' || role === '2'"></mat-divider>
        <div *ngIf="role === '5' || role === '2'" class="main_title">
          <h3 class="fon">{{sales}}</h3>
        </div>
        <mat-divider *ngIf="role === '5' || role === '2'"></mat-divider>
        <li *ngIf="role === '5' || role === '2'" (click)="onClickListItem('C')" class="side_list_item"><mat-icon>group</mat-icon><div class="title">{{customer}}</div></li>
        
        <li *ngIf="role === '5' || role === '2'" (click)="onClickListItem('I')" class="side_list_item"><mat-icon>description</mat-icon><div class="title">{{invoice}}</div></li>
  
        <li *ngIf="role === '5' || role === '2'" (click)="onClickListItem('PTC')" class="side_list_item"><i class="fas fa-money-bill-wave"></i><div class="title">{{paymentToCompany}}</div></li>
        <mat-divider *ngIf="role === '3' || role === '2'"></mat-divider>
        <div *ngIf="role === '6' || role === '2'" class="main_title">
          <h3 class="fon">{{inventory}}</h3>
        </div>
        <mat-divider *ngIf="role === '6' || role === '2'"></mat-divider>
        <li *ngIf="role === '6' || role === '2'" (click)="onClickListItem('P')" class="side_list_item"><mat-icon>pages</mat-icon><div class="title">{{product}}</div></li>
        <li *ngIf="role === '6' || role === '2'" (click)="onClickListItem('PC')" class="side_list_item"><mat-icon>pages</mat-icon><div class="title">{{productCategory}}</div></li>
        <li *ngIf="role === '6' || role === '2'" (click)="onClickListItem('PG')" class="side_list_item"><mat-icon>pages</mat-icon><div class="title">{{productGroup}}</div></li>
        <li *ngIf="role === '6' || role === '2'" (click)="onClickListItem('PU')" class="side_list_item"><mat-icon>pages</mat-icon><div class="title">{{productUnit}}</div></li>
        <li *ngIf="role === '6' || role === '2'" (click)="onClickListItem('PP')" class="side_list_item"><mat-icon>pages</mat-icon><div class="title">{{productPricing}}</div></li>
        <li *ngIf="role === '6' || role === '2'" (click)="onClickListItem('PS')" class="side_list_item"><mat-icon>pages</mat-icon><div class="title">{{productStock}}</div></li>
        <li *ngIf="role === '6' || role === '2'" (click)="onClickListItem('PUC')" class="side_list_item"><mat-icon>pages</mat-icon><div class="title">{{productUnitConversion}}</div></li>
        <li *ngIf="role === '6' || role === '2'" (click)="onClickListItem('W')" class="side_list_item"><i class="fas fa-warehouse"></i><div class="title">{{warehouse}}</div></li>
        <li *ngIf="role === '6' || role === '2'" (click)="onClickListItem('SI')" class="side_list_item"><mat-icon>add_shopping_cart</mat-icon><div class="title">{{stockIn}}</div></li>
        <li *ngIf="role === '6' || role === '2'" (click)="onClickListItem('SM')" class="side_list_item"><mat-icon>remove_shopping_cart</mat-icon><div class="title">{{stockMovement}}</div></li>
        <mat-divider *ngIf="role === '7' || role === '2'"></mat-divider>
        <div *ngIf="role === '7' || role === '2'" class="main_title">
          <h3 class="fon">Reports</h3>
        </div>
        <mat-divider *ngIf="role === '7' || role === '2'"></mat-divider>
        <li *ngIf="role === '7' || role === '2'" (click)="onClickListItem('FR')" class="side_list_item"><i class="fas fa-print"></i><div class="title">Financial reports</div></li> -->
        <!-- <li (click)="onSignOut()" class="side_list_item"><mat-icon>keyboard_return</mat-icon><div class="title"> {{logout}}</div></li> -->
      <!-- </ul>
    </div></div> -->
    <!-- <mat-card-actions>
        <button mat-icon-button ><mat-icon>close</mat-icon></button>
    </mat-card-actions> -->
<!-- </mat-card>
        </div> -->
        <div class="actions_box">
          <router-outlet></router-outlet>

        </div>
      </div>




    </mat-drawer-content>



</mat-drawer-container>

