<mat-expansion-panel class="mat-elevation-z0" (click)="$event.stopPropagation()">
  <mat-expansion-panel-header>
      <mat-panel-title>
          Vehicle Supplier
      </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <form>
      <mat-form-field>
        <input matInput type="text" placeholder="Vehicle Supplier" name="vehicleSupplier" [(ngModel)]="vehicleSupplier" (input)="onVehicleSupplier()">
      </mat-form-field>
    </form>
  </ng-template>
</mat-expansion-panel>
