

<section class="section" [dir]="direction">
  <div class="bigMain" fxLayout>
    <h3 class="fontY">
      {{ dialog_title  }} 
    </h3>
    <img (click)="onCancel()" class="cancel_Img" src="../../../../assets/images/svg/close.png" alt="">
  </div>

  

  <form class="Main"  [dir]="direction"  >
    <div class="container">
      <mat-grid-list
        [cols]="breakpoint"
        rowHeight="105px"
        (window:resize)="onResize($event)"

      >
        <div  *ngFor="let source of light; let i=index">
          <div [ngSwitch]="source.type">
            <mat-grid-tile *ngSwitchCase="'Date'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="date"
                    placeholder="Date"
                  />


                </mat-form-field>
                <div
                *ngSwitchCase="'ViewOnly'"
                fxLayout
                fxLayoutGap="10px"

                class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>

              </div>

            </mat-grid-tile>
            <mat-grid-tile *ngSwitchCase="'Number'">
              <div [ngSwitch]="source.access">
                <mat-form-field  *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="textbox"
                    
                    placeholder="Number"
                    appIsDecimalDirective
                  />


                </mat-form-field>

                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile *ngSwitchCase="'Text'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    type="text"

                    placeholder="Type some text"
                  />


                </mat-form-field>

                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile *ngSwitchCase="'Checkbox'">
              <div [ngSwitch]="source.access">
                <mat-checkbox
                *ngSwitchCase="'Editable'"
                [ngModel]="source.value == '1' ? true : source.value == '0' ? false : null"
                (ngModelChange)="source.value = $event ? '1' : '0'"


                name="{{ source.label }}"
                >{{ source.label }}</mat-checkbox
              >

              <div
                fxLayout
                fxLayoutGap="10px"
                *ngSwitchCase="'ViewOnly'"
                class="radio"
              >
                <h3>{{ source.label }}:</h3>
                <h5>{{ source.value }}</h5>
              </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile *ngSwitchCase="'Time'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <input
                    [(ngModel)]="source.value"
                    name="{{ source.label }}"
                    matInput
                    type="time"
                    placeholder="start date"
                  />
                </mat-form-field>

                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile *ngSwitchCase="'TextArea'">
              <div [ngSwitch]="source.access">
                <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                  <mat-label>{{ source.label }}</mat-label>
                  <textarea
                    matInput
                    rows="2"
                    [(ngModel)]="source.value"

                    name="{{ source.label }}"
                    type="text"
                    placeholder="Type some text"
                  ></textarea>


                </mat-form-field>

                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile *ngSwitchCase="'dropdown'">
              <div [ngSwitch]="source.access">
                <div *ngSwitchCase="'Editable'">
                  <div *ngIf="source.tableColumnId == 28">
                    <div fxLayout="column">
                      <mat-checkbox [(ngModel)]="checkParentAccountId" (change)="onParent()" name="parent">is sub-account</mat-checkbox>
                    <mat-form-field *ngIf="checkParentAccountId"  appearance="fill">
                      <mat-label>{{ source.label }}</mat-label>
                      <mat-select
                        [(ngModel)]="+source.value"
                        name="{{ source.label }}"
                      >
                        <mat-option
                          *ngFor="let choice of source.myarray"
                          [value]="choice.id"
                        >
                          {{ choice.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    </div>
                  </div>
                  <div *ngIf="source.tableColumnId != 28">
                    <mat-form-field *ngIf="source.editPrice"  appearance="fill">
                      <mat-label>{{ source.label }}</mat-label>
                      <mat-select
                        [(ngModel)]="+source.value"
                        name="{{ source.label }}"
                        (selectionChange)="onRoleChange(source.tableColumnId, $event.value, i)"
                      >
                        <mat-option
                          *ngFor="let choice of source.myarray"
                          [value]="choice.id"
                        >
                          {{ choice.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    
                  </div>
                </div>

                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
              </div>
            </mat-grid-tile>


              <div *ngIf="spacezone">
                <mat-grid-tile *ngSwitchCase="'space'">
                  <div [ngSwitch]="source.access">
                    <div *ngSwitchCase="'Editable'" class="space"></div>

                  <div
                    fxLayout
                    fxLayoutGap="10px"
                    *ngSwitchCase="'ViewOnly'"
                    class="radio"
                  >
                    <h3>{{ source.label }}:</h3>
                    <h5>{{ source.value }}</h5>
                  </div>
                  </div>
                </mat-grid-tile>
              </div>

          </div>
        </div>
      </mat-grid-list>
    </div>
  </form>
  <!-- <div class="upload">
    <div class="img_profile" >
    
      <img *ngIf="!showit" [src]="imagePathUrl"  alt="" width="100px" height="100px">
      <img *ngIf="showit" [src]="imagePathUrl2"  alt="" width="100px" height="100px">
    </div>
    
  
    <div class="img_profile" *ngIf="visible">
      <app-profile-upload [myFiles]="lFiles" (onUploadFinished)="uploadFinished($event)"
                  
                  >
      </app-profile-upload>
    </div>
  </div> -->
  <div class="btn-container" fxLayoutGap="10px">
    <button class="BtnC" (click)="onCancel()" mat-button color="warn" type="submit">{{cancel}}</button>
    <button class="BtnS" (click)="onSubmit()" mat-button color="primary" type="submit">{{submit}}</button>
  </div>
</section>


