<mat-toolbar>

  <mat-toolbar-row fxLayout.xs="column" fxLayoutGap.xs="20px" [dir]="direction" class="toolbar">

    <section class="fontY">
      {{header}}
    </section>

    <section class="sec"  >

      <button *ngIf="!workShimmerBtn || !workShimmerCardBtn" class="add_btn" mat-button color="primary" (click)="onAdd()" [disabled]="!screenRights.createFlag"><mat-icon >add</mat-icon></button>
 
        <ngx-skeleton-loader fxHide.xs *ngIf="workShimmerBtn" class="skeleton" count="1" appearance="circle" [theme]="{ 
          'border-radius': '5px',
          height: '37px',
          width: '60px',
          border: '1px solid white'
        }"></ngx-skeleton-loader>
      <!-- <button mat-button color="primary" (click)="openEntry()">Filter</button>
      <button mat-button color="primary" (click)="onSort()">Sort</button>
      <button mat-button color="primary" (click)="openEntry()" [disabled]="!screenRights.printFlag">Print</button>
      <button mat-button color="primary" (click)="refreshMe()">Refresh</button>

      <mat-form-field [ngStyle]="{'float':'right', 'margin-right':'60px'}">

        <input matInput (keyup)="applyFilter($event.target.value)">

        <mat-placeholder>

          <mat-icon>search</mat-icon>

        </mat-placeholder>

      </mat-form-field> -->

    </section>

  </mat-toolbar-row>

</mat-toolbar>

<!-- <Section [ngClass]="['custom-table-container']"> -->
  <div  class="shimmerEffect" fxHide.gt-xs>
  <div *ngIf="workShimmerCardBtn" class="itemRow">
    <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ 
      'border-radius': '5px',
      height: '37px',
      width: '300px',
      border: '1px solid white'
    }"></ngx-skeleton-loader>
  </div>
  <div *ngIf="workShimmerCard" class="itemRow">
    <ngx-skeleton-loader count="2" appearance="circle" [theme]="{ 
      'border-radius': '5px',
      height: '200px',
      width: '450px',
      border: '1px solid white'
    }"></ngx-skeleton-loader>
  </div>

<div *ngIf="workShimmerPaginator" class="itemRow">
  <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ 
    'border-radius': '5px',
    height: '50px',
    width: '300px',
    border: '1px solid white'
  }"></ngx-skeleton-loader>
</div>

</div>
<Section  [dir]="direction" fxHide.xs  class="mainSection">

  <div class="tableHeader" *ngIf="!workShimmerHeader">
    <div *ngFor="let header of headerToShow" class="tableHeaderItem">{{header}}</div>
  </div>
  <div *ngIf="workShimmerHeader" class="item">
    <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ 
      'border-radius': '5px',
      height: '50px',
      width: '100%',
      border: '1px solid white'
    }"></ngx-skeleton-loader>
  </div>

<div  class="toolSection" *ngIf="!workShimmerTable">
    <mat-table  #table [dataSource]="dataSource"  style="width: 100%">
  
    <!-- Columns definition here to be displayed -->

    <ng-container matColumnDef="select">
      <mat-header-cell class="cbPad"  *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
</mat-checkbox>
      </mat-header-cell>
       <mat-cell class="cbPad" *matCellDef="let row; let i = index">
        <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null; onId(i,row)"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>

      </mat-cell>

  </ng-container>
  <ng-container matColumnDef="problem">      <mat-header-cell class="centH" *matHeaderCellDef>{{problem}}</mat-header-cell>     <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.problem}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="appUserName">      <mat-header-cell class="centH" *matHeaderCellDef>{{appUserName}}</mat-header-cell>     <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.appUserName}}</mat-cell>
  </ng-container>
    <!-- <ng-container matColumnDef="problem">      <mat-header-cell class="centH" *matHeaderCellDef>{{problem}}</mat-header-cell>     <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.problem}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="priorityName">      <mat-header-cell class="centH" *matHeaderCellDef>{{priorityName}}</mat-header-cell>     <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.priorityName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="estimatedTime">      <mat-header-cell class="centH" *matHeaderCellDef>{{estimatedTime}}</mat-header-cell>     <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.estimatedTime}}</mat-cell>
    </ng-container>
     -->
   


    <!-- edit Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell class="cent" *matHeaderCellDef>{{edit}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="onEdit(row.probAgentId)" [disabled]="!screenRights.editFlag">
          <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row"><button mat-icon-button color="primary"
          (click)="onDelete(row.probAgentId)" [disabled]="!screenRights.deleteFlag">
          <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- view Column -->
    <ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row"><button mat-icon-button color="primary" (click)="onView(row.probAgentId)"
          [disabled]="!screenRights.viewFlag">
          <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true" color="primary">visibility
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- <mat-header-row  class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row> -->

    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onEdit(row.probAgentId)" class="rowR" [class.active]="clickedRows.has(row)" ></mat-row>

  </mat-table>
</div>

<div *ngIf="workShimmerTable" class="item">
  <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
    'border-radius': '5px',
    height: '340px',
    border: '1px solid white'
  }"></ngx-skeleton-loader>
</div>

</Section>
<section *ngIf="!workShimmerCard" [dir]="direction" class="cards_section" fxHide fxShow.xs>
  <div *ngFor="let index of indexes">
    <mat-card fxLayout class="card">
      <div >
        <div fxLayoutGap="5px" class="index_row">
          <h3>{{problem}}</h3>
          <h3>:</h3>
          <h3>{{ index.problem }}</h3>
        </div>
        <div fxLayoutGap="5px" class="index_row">
          <h3>{{appUserName}}</h3>
          <h3>:</h3>
          <h3>{{ index.appUserName }}</h3>
        </div>
        
        <!-- <div fxLayoutGap="5px" class="index_row">
          <h3>{{problem}}</h3>
          <h3>:</h3>
          <h3>{{ index.problem }}</h3>
        </div>
        <div fxLayoutGap="5px" class="index_row">
          <h3>{{priorityName}}</h3>
          <h3>:</h3>
          <h3>{{ index.priorityName }}</h3>
        </div>
        <div fxLayoutGap="5px" class="index_row">
          <h3>{{estimatedTime}}</h3>
          <h3>:</h3>
          <h3>{{ index.estimatedTime }}</h3>
        </div> -->
        
        
      </div>
      <div>
        <button class="Btn" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
<mat-menu #menu="matMenu">
  <button (click)="onEdit(index.probAgentId)" class="Btn" mat-menu-item>{{edit}}</button>
  
</mat-menu>
      </div>
    </mat-card>

  </div>
</section>

<div class="paginator">
  <mat-paginator *ngIf="!workShimmerPaginator" [hidePageSize]="true" [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="paginatoryOperation($event)" showFirstLastButtons>
</mat-paginator>


</div>
<div *ngIf="workShimmerPaginator" class="itemRow">
  <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ 
    'border-radius': '5px',
    height: '50px',
    width: '500px',
    border: '1px solid white'
  }"></ngx-skeleton-loader>
</div>
