<mat-drawer-container autosize  [dir]="direction" (window:resize)="onResize($event)"  class="example-container">
  <!-- <mat-drawer   #drawer class="example-sidenav" mode="side" [opened]="break"> -->
  <mat-drawer   #drawer class="example-sidenav" mode="side" [(opened)]="break"
  mwlResizable
  
              [enableGhostResize]="true"
              [ngStyle]="resizeStyle"
              [validateResize]="resizeValidate"
              (resizeEnd)="onResizeEnd($event)"
              >
              <!-- revise this -->
              <!-- [resizeEdges]="{right: true}" -->

    <div fxLayout class="logo_container">
      
        <div class="user">
          <img  class="user_img" src="../../../assets/images/svg/tui_logo_webcrop_png.png" alt="">
          
          
        </div>
      
      <div  fxFlex fxLayout fxLayoutAlign="flex-start">
        <button class="toggle_btn3" type="button"  mat-icon-button (click)="drawer.toggle(); onToggle()">

          <mat-icon>chevron_left</mat-icon>
          <!-- <mat-icon>fast_rewind</mat-icon> -->
        </button>
      </div>
    </div>

    <hr>

    <div class="menu_item">
      <ul class="side_list" id="myDIV">
        
        <mat-divider fxHide></mat-divider>
        <ul style="list-style-type:none">
          <li class="side_list_item" routerLink="Home" >Home</li>
        <li class="side_list_item" (click)="onChangePassword()">Change password</li>
        </ul>
        <h3 class="main_title">User management:</h3>
        
          <ul style="list-style-type:none">
          <li class="side_list_item" routerLink="Users">Users</li>
          <!-- <li class="side_list_item" routerLink="ProblemCat">ProblemCat</li>
          <li class="side_list_item" routerLink="ProbSub">ProbSub</li>
          <li class="side_list_item" routerLink="ProbTech">ProbTech</li>
          <li class="side_list_item" routerLink="UnDepartment" >UnDepartment</li> -->
          
          </ul>
          
      
        
        <mat-divider></mat-divider>
        <h3 class="main_title">Customer management:</h3>
        <li class="side_list_item" routerLink="UnCustomer">Customers</li>
          <li class="side_list_item" routerLink="Policy" >Policies</li>
          <li class="side_list_item" routerLink="Endorsement">Endorsements</li>
        
        
        <mat-divider></mat-divider>
        


        <!-- <li (click)="onClickListItem('QMC2')"  class="side_list_item active"><mat-icon>date_range</mat-icon><div class="title"> {{qubanmc}}</div></li>
        <li (click)="onClickListItem('QMAT2')"  class="side_list_item active"><mat-icon>date_range</mat-icon><div class="title"> {{qubanmat}}</div></li>
        <li (click)="onClickListItem('QBANF2')"  class="side_list_item active"><mat-icon>date_range</mat-icon><div class="title"> {{qubanfill}}</div></li>

        <li (click)="onClickListItem('QBANO2')"  class="side_list_item active"><mat-icon>date_range</mat-icon><div class="title"> {{qubanord}}</div></li> 
  
       



<li (click)="onClickListItem('TGD2')"  class="side_list_item active"><mat-icon>date_range</mat-icon><div class="title"> {{testgradedet}}</div></li>

<li (click)="onClickListItem('STQ2')"  class="side_list_item active"><mat-icon>date_range</mat-icon><div class="title"> {{subteque}}</div></li> 
 
<li (click)="onClickListItem('STF2')"  class="side_list_item active"><mat-icon>date_range</mat-icon><div class="title"> {{subtefreeinput}}</div></li>
 
<li (click)="onClickListItem('STB2')"  class="side_list_item active"><mat-icon>date_range</mat-icon><div class="title"> {{subteblank}}</div></li>
 
<li (click)="onClickListItem('STMAT2')"  class="side_list_item active"><mat-icon>date_range</mat-icon><div class="title"> {{subtemat}}</div></li>
 
<li (click)="onClickListItem('STO2')"  class="side_list_item active"><mat-icon>date_range</mat-icon><div class="title"> {{subteorder}}</div></li>
 

        
       
        <li (click)="onClickListItem('HWS1')"  class="side_list_item active"><mat-icon>date_range</mat-icon><div class="title"> {{homeworksub}}</div></li>
   

        <li (click)="onClickListItem('TSD1')"  class="side_list_item active"><mat-icon>date_range</mat-icon><div class="title"> {{tripshiftdetails}}</div></li>

        <li (click)="onClickListItem('TED1')"  class="side_list_item active"><mat-icon>date_range</mat-icon><div class="title"> {{tripexecdetails}}</div></li>
 

        <li (click)="onClickListItem('VMD1')"  class="side_list_item active"><mat-icon>date_range</mat-icon><div class="title"> {{vehMainDetails}}</div></li>
        
    
        
        
        
      
	
	
	
	
	
	

	

        
        
        
        
        
        

        
        

        

        <li (click)="onClickListItem('SOU1')" class="side_list_item"><i class="fas fa-book"></i><div class="title">{{ suboutlineun}}</div></li>
  -->
       
       
        <!--  <ul class="side_list" id="myDIV">
        <li (click)="onClickListItem('H')" fxHide class="side_list_item active"><mat-icon>home</mat-icon><div class="title"> {{home}}</div></li>
        <li (click)="onClickListItem('BP')" fxHide class="side_list_item"><mat-icon>person</mat-icon><div class="title"> {{businessP}}</div></li>
        <mat-divider></mat-divider>
        <div class="main_title">
          <span class="fon">{{accounting}}</span>
        </div>
        <mat-divider></mat-divider>
        <li (click)="onClickListItem('J')" class="side_list_item"><mat-icon>library_books</mat-icon><div class="title"> {{journal}}</div></li>
         <li (click)="onClickListItem('JD')" class="side_list_item"><mat-icon>library_books</mat-icon><div class="title"> Journal Dynamic</div></li> -->
          <!-- <li (click)="onClickListItem('E')" class="side_list_item"><mat-icon> local_atm</mat-icon><div class="title"> {{expense}}</div></li>
         <li (click)="onClickListItem('PFC')" class="side_list_item"><i class="fas fa-money-bill-wave"></i><div class="title">{{paymentFromCompany}}</div></li> -->
        <!-- <li (click)="onClickListItem('ED')" class="side_list_item"><mat-icon> local_atm</mat-icon><div class="title">Expense Dynamic</div></li> -->
         <!--  <mat-divider></mat-divider>
        <div class="main_title">
          <h3 class="fon">{{config}}</h3>
        </div>
        <mat-divider></mat-divider>
        <li (click)="onClickListItem('T')" class="side_list_item"><mat-icon>receipt</mat-icon><div class="title"> {{tax}}</div></li>
        <li (click)="onClickListItem('F')" class="side_list_item"><mat-icon> attach_money</mat-icon><div class="title"> {{forex}}</div></li>
        <li (click)="onClickListItem('A')" class="side_list_item"><mat-icon>account_box</mat-icon><div class="title"> {{account}}</div></li>
        <li (click)="onClickListItem('AC')" class="side_list_item"><mat-icon> vpn_key</mat-icon><div class="title">{{accountConfiguration}}</div></li>
        <li (click)="onClickListItem('B')" class="side_list_item"><mat-icon>account_balance</mat-icon><div class="title">{{bank}}</div></li>
        <li (click)="onClickListItem('BB')" class="side_list_item"><mat-icon>account_balance</mat-icon><div class="title">{{bankBranch}}</div></li>
        <li (click)="onClickListItem('BA')" class="side_list_item"><mat-icon> account_balance</mat-icon><div class="title">{{bankAccount}}</div></li>
        <mat-divider></mat-divider>
        <div class="main_title">
          <h3 class="fon">{{sales}}</h3>
        </div>
        <mat-divider></mat-divider>
        <li (click)="onClickListItem('C')" class="side_list_item"><mat-icon>group</mat-icon><div class="title">{{customer}}</div></li>
        
        <li (click)="onClickListItem('I')" class="side_list_item"><mat-icon>description</mat-icon><div class="title">{{invoice}}</div></li>
  
        <li (click)="onClickListItem('PTC')" class="side_list_item"><i class="fas fa-money-bill-wave"></i><div class="title">{{paymentToCompany}}</div></li>
        <mat-divider></mat-divider>
        <div class="main_title">
          <h3 class="fon">{{inventory}}</h3>
        </div>
        <mat-divider></mat-divider>
        <li (click)="onClickListItem('P')" class="side_list_item"><mat-icon>pages</mat-icon><div class="title">{{product}}</div></li>
        <li (click)="onClickListItem('PC')" class="side_list_item"><mat-icon>pages</mat-icon><div class="title">{{productCategory}}</div></li>
        <li (click)="onClickListItem('PG')" class="side_list_item"><mat-icon>pages</mat-icon><div class="title">{{productGroup}}</div></li>
        <li (click)="onClickListItem('PU')" class="side_list_item"><mat-icon>pages</mat-icon><div class="title">{{productUnit}}</div></li>
        <li (click)="onClickListItem('PP')" class="side_list_item"><mat-icon>pages</mat-icon><div class="title">{{productPricing}}</div></li>
        <li (click)="onClickListItem('PS')" class="side_list_item"><mat-icon>pages</mat-icon><div class="title">{{productStock}}</div></li>
        <li (click)="onClickListItem('PUC')" class="side_list_item"><mat-icon>pages</mat-icon><div class="title">{{productUnitConversion}}</div></li>
        <li (click)="onClickListItem('W')" class="side_list_item"><i class="fas fa-warehouse"></i><div class="title">{{warehouse}}</div></li>
        <li (click)="onClickListItem('SI')" class="side_list_item"><mat-icon>add_shopping_cart</mat-icon><div class="title">{{stockIn}}</div></li>
        <li (click)="onClickListItem('SM')" class="side_list_item"><mat-icon>remove_shopping_cart</mat-icon><div class="title">{{stockMovement}}</div></li>
        <mat-divider></mat-divider>
        <div class="main_title">
          <h3 class="fon">Reports</h3>
        </div>
        <mat-divider></mat-divider>
         -->
        <!-- <li (click)="onSignOut()" class="side_list_item"><mat-icon>keyboard_return</mat-icon><div class="title"> {{logout}}</div></li> -->
      </ul>
    </div>


    <!-- <div class="lang_container" fxLayoutGap="10px">
      <h3 class="lang">{{change}}</h3>
      <button class="toggle_btn2" mat-icon-button [matMenuTriggerFor]="menu2"><mat-icon>language</mat-icon></button>
<mat-menu #menu2="matMenu">
  <button  class="toggle_btn" (click)="onChangeLanguage()" mat-menu-item>{{lang}}</button>
  
</mat-menu>
      
    </div> -->

    <div class="markon_logo">
      <img src="../../../assets/images/svg/Markon-logo-white.png" width="60px" height="60px" alt="">
      
    </div>

    <!-- <ul class="side_list">
      <li class="side_list_item"><a class="side_list_item_link" href="">Home</a></li>
      <li class="side_list_item"><a class="side_list_item_link" href="">Bank</a></li>
      <li class="side_list_item"><a class="side_list_item_link" href="">Forex</a></li>
      <li class="side_list_item"><a class="side_list_item_link" href="">Journal</a></li>
    </ul> -->
  </mat-drawer>

    <mat-drawer-content>

      <mat-toolbar >
        <div fxLayout fxLayoutGap.xs="10px" class="nav">
          <div *ngIf="!break" fxFlex fxLayout fxLayoutAlign="flex-start">
            <button class="toggle_btn" type="button"  mat-icon-button (click)="drawer.toggle(); onToggle()">
              <i class="fas fa-bars"></i>
            </button>
          </div>

          <div class="middle" fxLayout  fxLayoutGap="20px">
            <div class="search_container" >
              <input type="text" matInput class="search">
              <mat-icon class="search_icon" aria-label="Example home icon">search</mat-icon>
            </div>

            <!-- <button  fxHide.xs mat-icon-button class="add_btn" >
              <mat-icon >add</mat-icon>
            </button> -->

          </div>

         <div  fxFlex fxLayout fxLayoutAlign="flex-end">
          <button [matMenuTriggerFor]="menu3" mat-icon-button class="toggle_btn" aria-label="Example icon-button with heart icon">
            <i class="fas fa-cog"></i>
          </button>
          <mat-menu #menu3="matMenu">
            <button class="icon" (click)="onChangeLanguage()" mat-menu-item>
              <i class="fas fa-globe"></i>
              <span>{{lang}}</span>
            </button>
            <button class="icon" (click)="onChangePassword()" mat-menu-item>
              <i class="fas fa-key"></i>
              <span class="settingsOtp">{{changePassword}}</span>
            </button>
            <button class="icon" (click)="onSignOut()" mat-menu-item>
              <i class="fas fa-sign-out-alt"></i>
              <span>{{logout}}</span>
            </button>
            
            
            <!-- <ul >
              <li class="side_list_item2" (click)="onChangeLanguage()" mat-menu-item><mat-icon class="menuIcon">language</mat-icon><div class="title2"> {{lang}}</div></li>
              <li (click)="onSignOut()" class="side_list_item2" mat-menu-item><mat-icon class="menuIcon">keyboard_return</mat-icon><div class="title2"> {{logout}}</div></li>
              
            </ul> -->
            
          </mat-menu>
          
          <!-- <button class="toggle_btn" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>perm_identity</mat-icon></button>
<mat-menu #menu="matMenu">
  <button (click)="onSignOut()" class="toggle_btn" mat-menu-item>{{logout}}</button>
  
</mat-menu> -->
          <!-- <button mat-icon-button class="toggle_btn" aria-label="Example icon-button with share icon">
           <mat-icon>perm_identity</mat-icon> -->
           <!-- <mat-icon>person_outline</mat-icon> -->

         <!-- </button> -->
         </div>
        </div>
      </mat-toolbar>

      <div fxLayout class="actions_box_container">
      <!--  <div *ngIf="!break" (mouseover)="showButton = true" (mouseleave)="showButton = false" class="hoverableSide">
          <mat-card class="example-card" *ngIf = "showButton">
    <mat-card-title>hello title</mat-card-title>
    <mat-card-content>hello content</mat-card-content>
    <mat-card-actions>
        <button mat-icon-button ><mat-icon>close</mat-icon></button>
    </mat-card-actions>
</mat-card>
        </div>-->
        <div class="actions_box">
          
          <router-outlet></router-outlet>

        </div>
      </div>




    </mat-drawer-content>



</mat-drawer-container>